<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div fxLayout="column"  fxLayoutAlign="space-around" style="width: 400px">
    <div class="pb-1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Title" type="text" [formControl]="form.controls['title']">
      </mat-form-field>
      <small *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched" class="mat-text-warn">You must include an email address.</small>
    </div>
    <div class="pb-1">
      <mat-form-field style="width: 100%">
        <textarea matInput  placeholder="Descriptions" [formControl]="form.controls['description']"></textarea>
      </mat-form-field>
      <small *ngIf="form.controls['description'].hasError('required') && form.controls['description'].touched" class="mat-text-warn">You must include password.</small>
    </div>
    <div class="pb-1">
      <mat-form-field style="width: 100%">
        <mat-select placeholder="Assign Employee" [formControl]="form.controls['user']" required multiple>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let emp of employee" [value]="emp">
            {{emp.email}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['user'].hasError('required')">Please choose an animal</mat-error>
      </mat-form-field>
    </div>
    <div class="pb-1">
      <input  placeholder="Attechment" type="file" (change)="onFileChange($event)"  [formControl]="form.controls['attechment']">
      <small *ngIf="form.controls['attechment'].hasError('required') && form.controls['attechment'].touched" class="mat-text-warn">You must include an email address.</small>
    </div>
    <img src="{{ tempPath }}">
    <a href="{{fildata }}">dounload</a>
    <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="!form.valid">Add Project</button>
  </div>
</form>
